nav, main {
    width: 100%;
    display: inline-block;
}

nav {
    height: 10rem;
    z-index: 100;
    float: left;
}

main {
    height: calc(100vh - 10rem);
}

caption, h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

th, td {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: left;
    color: #111111;
}

form > div > input {
    font-size: 2.5rem;
}